html body{
	background: white;
	margin:0px;
	padding:0px;
	width:1500px;
	height:1000px;
	border: 2px solid none;
}

#menu{
	text-align: center;
	top:30px;
	margin:20px;
	font-size: 40px;
	font-color:black;
}

#moremenu{
	text-align: center;
	margin:20px;
	font-size: 20px;
	font-color:black;
	display:none;
}

#topLeft {
	display: inline-block;
	width:748px;
	height:500px;
	background:none;
	top:0px;
	left:0px;
	z-index: 10;
	position:absolute;
}

#topRight{
	display: inline-block;
	width:748px;
	height:500px;
	background:none;
	top:0px;
	right:0px;
	z-index: 10;
	position:absolute;
}

#bottomLeft{
	display: inline-block;
	width:748px;
	height:500px;
	background:none;
	bottom:0px;
	left:0px;
	z-index: 10;
	position:absolute;
}

#bottomRight {
	display: inline-block;
	width:748px;
	height:500px;
	background:none;
	bottom:0px;
	right:0px;
	z-index: 10;
	position:absolute;
}

img {
	display: inline-block;
	width:740px;
	height:500px;
	background:none;
	z-index: 10;
}

#container{
	background-color:lightgray;
}

